
<div>
    <a href="main"><img src="{{image}}"></a>
    <nav>
        <button class="nav-item">
            <span>
                <a href="eroges"><i>Eroges</i></a>
            </span>
        </button> |
        <button class="nav-item">
            <span>
                <a href="rpg"><i>Rpg</i></a>
            </span>
        </button> |
        <button class="nav-item">
            <span>
                <a href="android"><i>Android</i></a>
            </span>
        </button> |
        <button class="nav-item">
            <span>
                <a href="contactanos"><i>Contactanos</i></a>
            </span>
        </button> |
        <button class="nav-item">
            <span>
                <a href="info"><i>Info</i></a>
            </span>
        </button> |
        <button class="nav-item">
            <span>
                <a href="Blog"><i>Blog</i></a>
            </span>
        </button> |
        
    </nav>
</div>


