img
{
    margin-left: 5%;
    border-radius: 8px;
    vertical-align: middle;

}
#titulo
{
    font-size: 200%;
    margin-left: 25%;

    
}
#contenido
{

    //vertical-align: middle;
    margin-left: 10%;
    width: 200px;

}


.container
{   
    vertical-align: center;
    border-color: white;
    background-color: pink;
    opacity: 1;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
}